In [ ]:
# ðŸ§ª Step 1: Data Loading and Initial Overview

This notebook loads the sports betting dataset and performs basic inspection using Pandas.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\paris\Desktop\RIIISKARE\sports_betting.csv', sep=';')

In [3]:
df.head()

,bet_id,user_id,bet_type,sport,odds,is_win,stake,gain,GGR
0,bet_00001,3848,multiple,Ice Hockey,9.44,False,13.65,0.00,13.65
1,bet_00002,153,single,Football,8.79,False,248.45,0.00,248.45
2,bet_00003,1527,single,Football,1.50,True,3.50,5.25,-1.75
3,bet_00004,3903,single,Tennis,1.55,False,151.45,0.00,151.45
4,bet_00005,2290,single,Football,1.47,True,319.05,469.00,-149.95

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   bet_id    100000 non-null  object
 1   user_id   100000 non-null  int64
 2   bet_type  100000 non-null  object
 3   sport     100000 non-null  object
 4   odds      100000 non-null  float64
 5   is_win    100000 non-null  bool
 6   stake     100000 non-null  float64
 7   gain      100000 non-null  float64
 8   GGR       100000 non-null  float64
dtypes: bool(1), float64(4), int64(1), object(3)
memory usage: 6.2+ MB

- âœ… Dataset contains 100,000 betting records
- âœ… No missing values
- âœ… 9 well-structured columns
- âœ… Useful features for behavior analysis: `user_id`, `stake`, `sport`, `odds`, etc.